@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main{
  margin: auto;
  max-width: 500px;
  padding: 10px;
}

header{
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  padding: 15px 0px;
  font-weight: 700;
}
.emoji-image{
  width: 30px;
  height: 30px;
}
.eighteen-image{
  width: 25px;
  height: 25px;
}

.show-delay {
  animation: cssAnimation 0s 3s forwards;
  opacity: 0;
}

@keyframes cssAnimation {
  to   { opacity: 1; }
}